<div class="form">
  <h2>Edit your profile</h2><br>
  <%= render 'form' %>
  <%= button_to " Delete Your Account ", @user, method: :delete,  data: { confirm: "Are you sure? Deleting your account will delete all of your personal information and items you have for lending." } %>
</div>
